body {
    margin: 0;
    font-family: 'Avenir Next';
}

canvas {
    width: 100%;
    height: 100%
}

input,
textarea {
    color: #cacaca;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Avenir Next';
    background: none;
    border: none;
    width: 95%;
    margin: 10px;
    display: none;
    transition: .1s;
    resize: none;
}

textarea:focus,
button:focus,
input:focus {
    outline: none;
}

input::placeholder {
    color: #bbb;
}

button {
    border-radius: 25px;
    margin-left: 5%;
    margin-top: 20px;
    border: none;
    padding: 8px 14px;
    color: #aaa;
    background-color: #fff;
    text-shadow: 3px 0px 6px #fff;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Avenir Next';
    cursor: pointer;
    transition: .3s;
    z-index: 1;
    position: fixed;
}

button:hover {
    background-color: #fafafa;
    color: #999;
    box-shadow: 0px 4px 2px -1px #eee;
}

button.selected {
    background-color: #ddd;
    color: #777;
    padding-top: 9px;
    box-shadow: none;
    text-shadow: 0px -2px 3px #fff;
}

.open-button {
    font-size: 40px;
    margin: -20px 0px 0px -8px;
    font-weight: 600;
    color: #eee;
    cursor: pointer;
    display: block;
    transition: .2s;
}

.close-button {
    font-size: 32px;
    font-weight: 600;
    color: #bbb;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 12px;
    display: block;
    transition: .2s;
    display: none;
    opacity: .25;
}

.open-button:hover {
    color: #aaa;
}

.note {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 1em;
    width: 10px;
    height: 10px;
    background: rgba(50, 50, 50, 0.8);
    border-radius: 0px 20px 20px 20px;
    line-height: 1.3;
    transition: height .1s, width .1s;
}

.open {
    width: 300px;
    height: 150px;
    line-height: 1.3;
    transition: height .1s, width .1s;
}

.notetitle {
    font-size: 24px;
    margin: -3px 0px -5px 0px;
    font-weight: 600;
    color: #eee;
    display: none;
    transition: .2s;
}

.ico {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    display: none;
    transition: .2s;
    opacity: .25;
}

.ico:hover, 
.close-button:hover {
    opacity: 1;
}

.delete {
    background: url('/assets/icons/delete.svg') no-repeat;
    right: 42px;
    bottom: 12px;
}

.save {
    background: url('/assets/icons/save.svg') no-repeat;
    right: 12px;
    bottom: 12px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}
